.banner_main{
	background: url('../img/xiao5.png');
	background-position: top center;
	background-repeat: no-repeat;
}
.content_main{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}
.room_team_left{
	width: 238px;
	height: 474px;
	float: left;
	margin-left: 103px;
	background: url('../img/tuandui.png');
	background-size: cover;
}
.room_team_left h1{
	width: 250px;
	color: #fff;
	font-size: 14px;
	float: left;
	margin-top: 332px;
	margin-left: -100px;
	transform: rotate(90deg);
	letter-spacing: 2px;
}
.room_team_left h2{
	width: 24px;
	height: 147px;
	float: left;
	color: #fff;
	margin-top: 265px;
	font-weight: normal;
	margin-left: -100px;
}
.room_team_right{
	width: 744px;
	height: 480px;
	float: left;
	margin-left: 19px;
}
.team1{
	width: 236px;
	height: 228px;
	float: left;
	border: 1px solid #E3E3E3;
	background: url('../img/tuandui1.png');
	background-position: left;
	background-size: 152px 228px;
	margin-right: 14px;
	margin-bottom: 15px;
	background-repeat: no-repeat;
}
.team1 h1{
	font-size: 12px;
	color: #0D0D0D;
	float: right;
	margin-right: 33px;
	margin-top: 37px;
	font-weight: normal;
}
.team1 h2{
	margin-left: 163px;
	color: #0D0D0D;
	font-weight: normal;
	font-size: 20px;
	float: left;
}
.team1_word{
	width: 62px;
	height: 43px;
	border-top: 1px solid #E3E3E3;
	padding-top: 9px;
	float: right;
	margin-top: 67px;
	position: relative;
}
.team1_word span{
	font-size: 14px;
	color: #ACACAC;
}
.team1_word:after{
	content: "";
	width: 28px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: -1px;
	left: 0;
}
.team1:nth-of-type(2){
	background: url('../img/tuandui2.png');
	background-repeat: no-repeat;
	margin-bottom: 15px;
	background-size: 152px 228px;
}
.team1:nth-of-type(3){
	background: url('../img/tuandui3.png');
	background-repeat: no-repeat;
	margin-bottom: 15px;
	background-size: 152px 228px;
	margin-right: 0;
}
.team1:nth-of-type(4){
	background: url('../img/tuandui4.png');
	background-repeat: no-repeat;
	background-size: 152px 228px;
	margin-bottom: 0;
}
.team1:nth-of-type(5){
	background: url('../img/tuandui5.png');
	background-repeat: no-repeat;
	background-size: 152px 228px;
	margin-bottom: 0;
	box-shadow: 0 0 5px 5px #ccc;
}
.team1:nth-of-type(6){
	background: url('../img/tuandui6.png');
	background-repeat: no-repeat;
	background-size: 152px 228px;
	margin-bottom: 0;
	margin-right: 0;
}
.room_team_right1{
	margin-left:103px;
	margin-top: 72px;
}
#team2{
	box-shadow: none;
	background: url('../img/721.png');
	background-repeat: no-repeat;
	background-size: 152px 228px;
}
.room_team_left1{
	float: left;
	margin-top: 72px;
	margin-left: 19px;
	background: url('../img/783.png');
	background-position: center;
}
.content_main img{
	width: 1200px;
	margin-top: 100px;	
	float: left;
}
.content_img{
	width: 1200px;
	height: 127px;
	background-color: rgba(24, 80, 107, 0.5);
	position: absolute;
	top: 1131px;
	left: 0;
}
.tuandui_content_main{
	width: 1200px;
	margin: 0 auto;
	margin-top: 34px;
}
.tuandui1{
	width: 548px;
	height: 150px;
	float: left;
	margin-bottom: 44px;
}
.tuandui_head{
	width: 114px;
	height: 114px;
	border: 8px solid #E5E5E5;
	border-radius: 114px;
	margin-top: 19px;
	float: left;
	position: relative;
}
.tuandui_head img{
	position: absolute;
	bottom: 0;
}
.tuandui1 h1{
	font-size: 36px;
	color: #767676;
	float: left;
	margin-top: 19px;
	margin-left: 39px;
	font-weight: normal;
}
.tuandui1 p{
	width: 290px;
	font-size: 18px;
	float: left;
	color: #767676;
	margin-left: 39px;
	font-weight: lighter;
	margin-top: 20px;
	line-height: 30px;
}
.tuandui1:nth-of-type(2),.tuandui1:nth-of-type(4){
	margin-left: 0;
}
.page{
	height: 25px;
	float: left;
	margin-left: 450px;
}
.page1{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-color: #E6E4E5;
	text-align: center;
	line-height: 25px;
	color: #767678;
	font-size: 16px;
	float: left;
}
.page1:nth-of-type(2){
	margin: 0 20px;
}
.page1:nth-of-type(3){
	background-color: #235975;
	color: #fff;
}
.tuandui_content{
	width: 1108px;
	padding-left: 92px;
	float: left;
}